<%= stylesheet_link_tag "blogposts" %>

<!--<div class="container pt-5">-->
<!--  <h1>Blogposts</h1>-->

<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
    <%# @blogposts.each do |blogpost| %>
<!--      <tr>-->
<!--        <td><%#= blogpost.title %></td>-->
<!--        <td><%#= link_to 'Show', blogpost %></td>-->
<!--        <td><%#= link_to 'Edit', edit_blogpost_path(blogpost) %></td>-->
<!--        <td><%#= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->

<!--  <br>-->

  <%#= link_to 'New Blogpost', new_blogpost_path %>
<!--</div>-->
<div class="div-block-3">
  <div class="div-block-6">
    <div class="text-block-2">BLOGPOSTS</div>
  </div>
</div>

<div class="section-2">
  <div class="text-block-5">YORK, MA - THURSDAY AUGUST 30, 1978 - SEVEN PAGES</div>
  <div class="row">
    <div class="col-3">
      <div class="row-4">
        <h1 class="heading-2">Here is going to be a title</h1>
        <div class="text-block-7">posted 01-01-2019</div>
        <div class="text-block-6">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream;and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of bliss; and then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</div>
      </div>
    </div>
    <div class="col-3">
      <div class="row-4">
        <h1 class="heading-2">Thermal theory of something</h1>
        <div class="text-block-7">posted 01-02-2019</div>
        <div class="text-block-6">It was this, as much as anything, that gave people courage, and I suppose the new arrivals from Woking also helped to restore confidence. At any rate, as the dusk came on a slow, intermittent movement upon the sand pits began, a movement that seemed to gather force as the stillness of the evening about the cylinder remained unbroken. Vertical black figures in twos and threes would advance, stop, watch, and advance again, spreading out as they did so in a thin irregular crescent that promised to enclose the pit in its attenuated horns. I, too, on my side began to move towards the pit.Then I saw some cabmen and others had walked boldly into the sand pits, and heard the clatter of hoofs and the gride of wheels. I saw a lad trundling off the barrow of apples. And then, within thirty yards of the pit, advancing from the direction of Horsell, I noted a little black knot of men, the foremost of whom was waving a white flag.</div>
      </div>
    </div>
    <div class="col-3">
      <div class="row-4">
        <h1 class="heading-2">May The Mechanical Force be with you</h1>
        <div class="text-block-7">posted 01-03-2019</div>
        <div class="text-block-6">This time, let go your conscious self and act on instinct. In my experience, there is no such thing as luck. You're all clear, kid. Let's blow this thing and go home!You don't believe in the Force, do you? Partially, but it also obeys your commands. The plans you refer to will soon be back in our hands. As you wish.<br></div>
      </div>
    </div>
    <div class="col-3">
      <div class="row-4">
        <h1 class="heading-2">Heat as answer to everything</h1>
        <div class="text-block-7">posted 01-04-2019</div>
        <div class="text-block-6">asOne morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.<br>It was this, as much as anything, that gave people courage, and I suppose the new arrivals from Woking also helped to restore confidence. At any rate, as the dusk came on a slow, intermittent movement upon the sand pits began, a movement that seemed to gather force as the stillness of the evening about the cylinder remained unbroken. Vertical black figures in twos and threes would advance, stop, watch, and advance again, spreading out as they did so in a thin irregular crescent that promised to enclose the pit in its attenuated horns.<br></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="row-4">
        <h1 class="heading-2">Do you think you can do better transfer?</h1>
        <div class="text-block-7">posted 01-01-2019</div>
        <div class="text-block-6">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream;and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of bliss; and then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</div>
      </div>
    </div>
    <div class="col-3">
      <div class="row-4">
        <h1 class="heading-2">Thermal theory of something</h1>
        <div class="text-block-7">posted 01-02-2019</div>
        <div class="text-block-6">It was this, as much as anything, that gave people courage, and I suppose the new arrivals from Woking also helped to restore confidence. At any rate, as the dusk came on a slow, intermittent movement upon the sand pits began, a movement that seemed to gather force as the stillness of the evening about the cylinder remained unbroken. Vertical black figures in twos and threes would advance, stop, watch, and advance again, spreading out as they did so in a thin irregular crescent that promised to enclose the pit in its attenuated horns. I, too, on my side began to move towards the pit.Then I saw some cabmen and others had walked boldly into the sand pits, and heard the clatter of hoofs and the gride of wheels. I saw a lad trundling off the barrow of apples. And then, within thirty yards of the pit, advancing from the direction of Horsell, I noted a little black knot of men, the foremost of whom was waving a white flag.<br><br>It was this, as much as anything, that gave people courage, and I suppose the new arrivals from Woking also helped to restore confidence. At any rate, as the dusk came on a slow, intermittent movement upon the sand pits began, a movement that seemed to gather force as the stillness of the evening about the cylinder remained unbroken. Vertical black figures in twos and threes would advance, stop, watch, and advance again, spreading out as they did so in a thin irregular crescent that promised to enclose the pit in its attenuated horns. I, too, on my side began to move towards the pit.Then I saw some cabmen and others had walked boldly into the sand pits, and heard the clatter of hoofs and the gride of wheels. I saw a lad trundling off the barrow of apples. And then, within thirty yards of the pit, advancing from the direction of Horsell, I noted a little black knot of men, the foremost of whom was waving a white flag.</div>
      </div>
    </div>
    <div class="col-3">
      <div class="row-4">
        <h1 class="heading-2">May The Mechanical Force be with you</h1>
        <div class="text-block-7">posted 01-03-2019</div>
        <div class="text-block-6">This time, let go your conscious self and act on instinct. In my experience, there is no such thing as luck. You're all clear, kid. Let's blow this thing and go home!You don't believe in the Force, do you? Partially, but it also obeys your commands. The plans you refer to will soon be back in our hands. As you wish.<br></div>
      </div>
    </div>
    <div class="col-3">
      <div class="row-4">
        <h1 class="heading-2">Heat as answer to everything</h1>
        <div class="text-block-7">posted 01-04-2019</div>
        <div class="text-block-6">asOne morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.<br></div>
      </div>
    </div>
  </div>
</div>