<div class="container pt-5">
  <p>
    <strong>Title:</strong>
    <%= @blogpost.title %>
  </p>

  <%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
  <%= link_to 'Back', blogposts_path %>
</div>
