<%= Gon::Base.render_data %>

<% @page_title = "Research Projects | Fateme Esmailie" %>
<% @seo_keywords += "Research, Projects" %>
<%# @researches.each { |r| @seo_keywords += (", " + r.title) } %>
<% @seo_description = "My latest Research Projects and its explanation." %>

<div class="container pt-3 pr-5 pl-5 pb-5">
  <div class="header-font text-center text-break">
    My Projects
  </div>

  <div>
    <%= image_tag 'project.jpg', class: "img-fluid", style: "" %>
  </div>

  <div id="projects" style="min-height: 200px"></div>
</div>
<div class="container">
  <%= link_to 'New Research', new_research_path if admin_signed_in?%>
</div>

<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

<script type="text/javascript" charset="utf-8">

  function prepareCSRFToken() {
    return {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')}
  }

  $( document ).ready(function() {
    $('#projects').LoadingOverlay("show");
    featureToggle();
  });

  function featureToggle() {
    var root_path = '<%= projects_all_url %>';
    $.ajax({
      url: root_path,
      method: 'GET',
      headers: prepareCSRFToken(),
      success: function(response) {
        $('#projects').LoadingOverlay("hide");
        render_projects(response);
        // $('#projects').html(response);
      },
      error: function(xhr) {
        $('#projects').LoadingOverlay("hide");
        alert(xhr.statusText);
      }
    });
  }

  function render_projects(projects) {
    console.log(projects)
  }

</script>
