<% @page_title = "Contact Me | Fateme Esmailie" %>
<% @seo_keywords += @contact_page['seo_keywords'] %>
<% @seo_description = @contact_page['seo_description'] %>

<div class="newspaper pt-3 pr-5 pl-5 pb-5">
  <div class="bg-white">
    <div class="row text-center">
      <div class="col-sm-12 col-lg-12 header-font">
        <%= @contact_page['title'] %>
      </div>
    </div>
    <div class="container text-center upper_border underline_border pt-3 pb-3 pl-5 pr-5">
      <%= @contact_page['about'] %>
    </div>
  </div>
  <div class="container mt-5 ">
    <%= render 'contact_form'%>
  </div>
</div>