@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import "fontawesome.min";

.full-height {
  min-height: 97vh;
}

body {
  font-family: 'Roboto Slab', serif;
}

.underline_border {
  border-bottom: 2px solid black !important;
}