@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import "fontawesome.min";

.full-height {
  min-height: 97vh;
}

body {
  font-family: 'Roboto Slab', serif;
}

.underline_border {
  border-bottom: 2px solid black !important;
}

.upper_border {
  border-top: 2px solid black !important;
}

.upper {
  text-transform: uppercase;
}

.header-font {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 100px;
  text-transform: uppercase;
}

.bg-white {
  background-color: white;
}

.blue {
  color: #0099EA;
}

.red {
  color: #cc0000;
}

a:hover {
  color: #00487B !important;
}

.stick-me {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.move_bottom {
  position: absolute;
  bottom: 0;
}

.reach-text {
  padding-right: 20px;
  padding-left: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 45px;
  font-weight: 400;
  white-space: normal;
}

.page-link {
  color: #333333 !important;
}

.active > a {
  color: white !important;
  background-color: #333333 !important;
}