<div class="container">
  <h1>Teachings</h1>
  <% @teachings.each do |teaching| %>
    <div>
      <%= teaching.title%>
    </div>
    <div class="reach-text">
      <%= teaching.body_area %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Teaching', new_teaching_path %>
