<nav class="site-header sticky-top py-1">
  <div class="container col-6 d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="/">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="/about">About Me</a>
    <a class="py-2 d-none d-md-inline-block" href="#">CV</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Teaching</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Work Experience</a>
    <%= link_to "Blogs", blogposts_path, class: "py-2 d-none d-md-inline-block" %>
  </div>
</nav>

<style>
  nav {
    background: #333333;
  }

  a {
    text-decoration: none !important;
    color: #CCCCCC;
    font-size: 25px;
  }

  a:hover {
    color: #0099EA;
  }
</style>