<%= stylesheet_link_tag "social_media" %>
<!--social-icons-start-->
<div class="icon-bar">
  <a href="https://www.facebook.com/fateme.esmailie66" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://scholar.google.com/citations?user=0wPISvEAAAAJ&hl=en" class="google"><i class="fa fa-google"></i></a>
  <a href="https://www.linkedin.com/in/fesmailie/" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="/contacts" class="gmail"><i class="fa fa-envelope"></i></a>
</div>
<!--social-icons-end-->